form {
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    display: inline-block;
    text-align: left;    
}

body {
    text-align: center; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: teal;
}

